{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/table.css') }}">
{% endblock %}

{% block script %}
  <script type="text/javascript" src="{{ url_for('static',filename='js/table.js') }}"></script> 
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $(".sort-table").tablesorter();
    });
  </script>
{% endblock %}

{% block title %}
  {{ user_form["DB_name"]}}参照
{% endblock %}

{% block content %}
  <div class="subtitle">
    <img src="/static/image/iconSearch.png" alt="検索">
    マスタ検索
    <button type="button" title="入力データを全て空にします" onclick="clearClassValue('form');">
      クリア
    </button>
  </div><!--subtitle-->
  <div class="comments">
    最終更新日付:{{ LastRefreshDate }}
  </div><!--comments-->
  <div class="dummy">
    <button name="ok" value="抽出"></button>
  </div>
  <button class="bigbutton" name="ok" value="決定">決定</button>
  <a href="{{ url_for('download',flg='master') }}" title="csvファイル">
    <img src="/static/image/iconDownload.png" alt="ダウンロード" width="18px">
    &nbsp;ダウンロード
  </a>
  {% for m in messages %}
    &emsp;&emsp;{{ m }}
  {% endfor %}
{% endblock %}

{% block body %}
  <div class="dataframe">
    <table class="sort-table">
      <thead>
        <tr>
          <td><label><input type="checkbox" id="checkBoxAll" onclick="checkBoxChecked();"></label></td>
          {% for header in headers %}
            <td><input class="form" name="{{ header }}" value="{{ user_form[header] }}"></td>
          {% endfor %}
        </tr>
        <tr>
          <th>
            選択
          </th>
          {% for header in headers %}
            <th>
              {{ header }}
            </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for record in records %}
            <tr>
              {% if record[0] in SelectList %}
                <td><input type="checkbox" class="checkBox" name="key_code" value="{{ record[0] }}" checked></td>
              {% else %}
                <td><input type="checkbox" class="checkBox" name="key_code" value="{{ record[0] }}"></td>
              {% endif %}
              {% for rec in record %}
                <td>{{ rec }}</td>
              {% endfor %}
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div><!--dataframe-->
{% endblock %}