
a:link,
a:visited {
    color: red;
}
button:hover {
    background-color: red;
    color: white;
}
.subtitle {
    color: red;
}
footer,
.dataframe th,
#TableTagHeader,
#Title {
    background-color: rgb(255, 190, 210);
    color: black;
}